.common-div-height{
  height: 100px;
}

.blue-bg{
  background-color: blue;
}

.red-bg {
  background-color: red;
}

.black-bg {
  background-color: black;
}

.green-bg {
  background-color: green
}

.yellow-bg {
  background-color: yellow;
}

.indigo-bg {
  background-color: indigo;
}

.purple-bg {
  background-color: purple;
}

.orange-bg {
  background-color: orangered;
}

.white-bg {
  background-color: white;
}

.col-2 {
  height: 200px;
}

.last-row{
  padding: 10px;
}

.bottom-divs {
  margin: 0px !important;
}

.bottom-divs.last-center-div {
  margin-left: 3px !important;
  margin-right: 3px !important;
}

.col-sm-4.bottom-divs {
  width: 33%;
}

@media(max-width:767px){
  .col-2 {
    background-color: aqua;
    height: 100px;
  }
}